.media-object{height:80px;width:100px;}
.media{background-color: #9966FF;}
.navbar{background-color:#CCCCCC;}
.heading{font-family: "微软雅黑";font-size: 40px;color: white;}
hr .divider{padding: 20px 0;}
.container-fluid{display: none;}
